<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Workbook reader by Rafał Mazurek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/process-file">
        <table>
            <tr><td>Załaduj z dysku plik: (Workbook2.csv lub Workbook2.prn)</td></tr>
            <tr><td><input type="file" name="file" /></td></tr>
            <tr><td><input type="submit" value="Wyświetl"/></td></tr>
        </table>
    </form>
</div>

</body>
</html>