.myTable {
    background-color:#eee;
    border-collapse:collapse;
}
.myTable th {
    background-color:#000;
    color:white;
}
.myTable td, .myTable th {
    padding:5px;
    border:1px solid #000;
}
