<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workbook reader by Rafał Mazurek</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div>
    <h2 th:text="${fileName}"/>
</div>

<table class="myTable">
    <thead>
    <tr>
        <th th:text="${headers[0]}">1</th>
        <th th:text="${headers[1]}">2</th>
        <th th:text="${headers[2]}">3</th>
        <th th:text="${headers[3]}">4</th>
        <th th:text="${headers[4]}">5</th>
        <th th:text="${headers[5]}">6</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="record : ${records}">
        <td th:text="${record.name}">1</td>
        <td th:text="${record.address}">2</td>
        <td th:text="${record.postalCode}">3</td>
        <td th:text="${record.phone}">4</td>
        <td th:text="${record.creditLimit}">5</td>
        <td th:text="${record.birthday}">6</td>
    </tr>
    </tbody>
</table>
</body>
</html>
